.backdrop {
  position: relative;
  height: auto;
  background-image: url("../img/bg-back-mobile1x.jpg");
  background-repeat: no-repeat;
  padding-top: 404px;
  background-size: cover;
  background-color: $header-color;
  background-position-y: -62px;
}

.backdrop::before {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  left: 5px;
  bottom: 30px;
  width: 307px;
  height: 284px;
}
