.backdrop {
  height: auto;
  background-image: url("../img/bg-back-mobile1x.jpg");
  background-repeat: no-repeat;
  padding-top: 35%;
  background-color: $header-color;
  background-position-y: -62px;
}

.backdrop__phone {
  margin-right: 60px;
}
