.backdrop {
  height: auto;
  background-image: url("../img/bg-back-mobile1x.jpg");
  background-repeat: no-repeat;
  padding-top: 116px;
  background-color: $header-color;
}

.backdrop__phone {
  margin-right: 50px;
}
