.downloads {
  text-align: center;
  width: auto;
  background-color: $header-color;
  color: #ffffff;
  padding-top: 45px;
}

.downloads__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  width: auto;
  height: 100px;
  padding-right: 35px;
  padding-left: 45px;
}

.downloads__list-item {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  width: 33.33333%;
}

.downloads__msg {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding-top: 21px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.downloads__link {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  padding: 14px;
  border: 3px solid white;
  border-radius: 45px;
  padding-left: 37px;
  padding-right: 32px;
}

.downloads__list--iphone {
  display: inline-block;
  background-image: url("../img/logo-apple.svg");
  width: 46px;
  height: 56px;
}

.downloads__list--android {
  display: inline-block;
  background-image: url("../img/logo-android.svg");
  width: 42px;
  height: 47px;
}

.downloads__list--windows {
  display: inline-block;
  background-image: url("../img/logo-microsoft.svg");
  width: 44px;
  height: 41px;
}
