.inform__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-top: 44px;
  margin: 0;
}

.inform__list-wrapper {
  padding-top: 95px;
  background-color: $post-color;
}

.inform__list {
  text-align: center;
  position: relative;
  padding-bottom: 310px;
}

.inform__list::before {
  background-image: url("../img/iphone-screen-mobile1x.png");
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 157px;
  height: 280px;
}

.inform__lisy-wrapper {
  padding-top: 90px;
}

@media (min-width: $tablet-width) {
  .inform__text {
    font-size: 40px;
    font-weight: 300;
    padding-right: 38px;
    padding-left: 38px;
  }

  .inform__list-wrapper {
    padding-top: 146px;
  }

  .inform__list {
    text-align: left;
    padding-right: 20px;
    padding-left: 300px;
    padding-bottom: 40px;
  }

  .inform__list::before {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    bottom: 0;
    transform: translateX(-131%);
    width: 268px;
    height: 482px;
  }
}
