.main-form {
  padding-top: 45px;
  padding-bottom: 15px;
  margin-left: 6.25%;
  margin-right: 6.25%;
}

.main-form__msg {
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.main-form__progress-header,
.main__form__poll-header {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 2.185%;
  padding-right: 2.185%;
  color: $like-color;
  background-color: #f2f2f2;
}

.main-form__progress-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 36px;
  padding-top: 16px;
}

.main-form__progress-check {
  width: 39px;
  height: 39px;
}

.main-form__textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 203px;
  margin-top: 6px;
  padding-left: 6.25%;
  padding-right: 4.687%;
  padding-top: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.main-form__button {
  width: 280px;
  height: 63px;
  border: 2px solid #2aab6d;
  background-color: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-form__option {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 30px;
  padding-left: 18.75%;
}

.main-form__progress {
  margin: 0 auto;
  padding: 28px 0 30px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.main-form__option::before {
  content: "";
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 31px;
  left: -2px;
  top: -6px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.main-form__progress-check:checked + .main-form__option::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: 22px 16px;
  background-position: 7px 8px;
}

.main-form__option:hover::before {
  border-color: #283645;
}

.main-form__user-msg {
  padding: 76px 0 30px;
  box-sizing: border-box;
  border: none;
}

.main-form__radio {
  position: relative;
  padding-left: 67px;
}

.main-form__poll-list-item {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 22px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 4px;
}

.main-form__radio::before {
  content: "";
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 31px;
  left: -2px;
  top: -6px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 25px;
}

.main-form__poll-radio:checked + .main-form__radio::before {
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: 22px 16px;
  background-position: 7px 10px;
}

.main-form__final-msg {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 33px;
}

.main-form__star {
  color: $like-color;
  margin-right: 14px;
}

.main-form__poll {
  background-color: #f2f2f2;
}
