.main-nav {
  line-height: 42px;
  font-weight: 700;
  text-align: center;
}

.main-nav__list {
  width: 100%;
  display: inline-block;
  vertical-align: 0;
  align-content: center;
  padding-top: 4%;
}

.main-nav__item-link {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

.main-nav__item {
  padding-top: 15px;
  padding-bottom: 7px;
  box-shadow: $shadow-nav;
}
