.page-header {
  background-color: $header-color;
}

.page-header__top-wrapper {
  display: flex;
  padding-bottom: 3%;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 10px;
}

.page-header__menu-toggle {
  font-size: 0;
  left: 280px;
  top: 20px;
  width: 24px;
  height: 23px;
  background-color: $header-color;
  background-image: url("../img/icon-menu-cross.svg");
  border: none;
}

.page-header__header {
  margin: 0;
  background-color: $header-color;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  padding-top: 35px;
  padding-left: 76px;
  padding-right: 76px;
  padding-bottom: 87px;
  background-image: url("../img/bg-back-mobile1x.jpg");
  background-repeat: no-repeat;
  background-position-y: -65px;
}
