.page-footer {
  padding-top: 24px;
}

.page-footer__contacts {
  text-align: center;
  padding-bottom: 41px;
}

.page-footer__msg {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.page-footer__header {
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 21px;
  font-style: bold;
}

.page-footer__info {
  margin-top: 0;
  margin-bottom: 25px;
  color: $like-color;
  font-size: 24px;
  line-height: 29px;
}

.page-footer__phone {
  margin-bottom: 23px;
}

.page-footer__logo {
  font-size: 0;
  display: inline-block;
  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-repeat: no-repeat;
  width: 147px;
  height: 40px;
}

.page-footer__bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
}

.page-footer__copyright--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #283645;
  margin-right: 17px;
}

.page-footer__copyright--link {
  font-size: 0;
  display: inline-block;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  padding: 0;
}

.page-footer__map {
  position: relative;
}

.page-footer__map::before {
  position: absolute;
  content: "";
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 63px;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.page-footer__tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__msg {
    font-size: 40px;
    font-weight: 300;
    color: #283645;
    padding-right: 146px;
    padding-left: 148px;
  }

  .page-footer__tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 51px;
  }

  .page-footer__copyright-wrapper {
    display: flex;
  }

  .page-footer__copyright--text {
    padding: 0;
  }

  .page-footer__bottom-wrapper {
    margin: 0;
  }
}
