.page-footer {
  padding-top: 41px;
}

.page-footer__contacts {
  text-align: center;
  padding-bottom: 41px;
}

.page-footer__msg {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
}

.page-footer__header {
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 21px;
  font-style: bold;
}

.page-footer__info {
  margin-top: 0;
  margin-bottom: 25px;
  color: $like-color;
  font-size: 24px;
  line-height: 29px;
}

.page-footer__phone {
  margin-bottom: 23px;
}
