.post {
  background-color: $post-color;
  text-align: center;
}

.post__header {
  display: flex;
  justify-content: flex-start;
  padding-left: 11%;
  padding-top: 4%;
}

.post__name {
  font-weight: 700;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__msg {
  margin-top: 0;
  margin-bottom: 0;
  text-align: initial;
  font-size: 14px;
  font-weight: 300;
}

.post__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $like-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.post__like {
  border: none;
  font-size: 0;
  width: 13px;
  height: 12px;
  background-color: $post-color;
  background-image: url("../img/icon-heart.svg");
}
