.post {
  background-color: $post-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 20px;
  margin-bottom: 50px;
}

.post__header {
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
}

.post__name {
  font-weight: 700;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__msg {
  margin: 0;
  text-align: initial;
  font-size: 14px;
  font-weight: 300;
  padding-left: 14px;
  padding-right: 8px;
}

.post__footer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  color: $like-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding-right: 122px;
  padding-left: 1px;
}

.post__like {
  border: none;
  font-size: 0;
  width: 13px;
  height: 12px;
  background-color: $post-color;
  background-image: url("../img/icon-heart.svg");
}

.post__img--best {
  width: 100%;
  position: relative;
}

.post__img--best::after {
  content: "Панорама дня";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  z-index: 1;
}

.post-img--best::before {
  content: "";
}
