.price {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.price__table {
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
}

.price__service {
  text-align: left;
}

.price__item--no::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 26px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50% 50%);
  right: 39px;
}

.price__item--yes::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 21px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  transform: translateY(-50% 50%);
  right: 39px;
}

.price__toggle {
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: $post-color;
  width: 100%;
}

.price__header {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $header-color;
}

.price__value {
  box-sizing: border-box;
  min-width: 276px;
  padding-top: 16px;
  padding-bottom: 20px;
  border-left: 2px solid #e5e5e5;
}

.price__header p {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 24px;
}

.price__item {
  position: relative;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 100px;
  min-width: 276px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  border-top: none;
}

.price__hit {
  position: relative;
}

.price__hit::before {
  content: "Хит";
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  left: 14px;
  bottom: 60px;
  line-height: 21.21px;
  text-transform: uppercase;
  transform: rotate(-45deg);
  z-index: 1;
}

.price__hit::after {
  content: "";
  position: absolute;
  background-image: url("../img/bg-hit.svg");
  width: 74px;
  height: 73px;
  top: 0;
  left: 0;
}
