.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 45px;
  height: 45px;
  border: 3px solid #d22856;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0;
}

.social-list__item:not(:last-child) {
  margin-right: 18px;
}

.social-list__link {
  display: inline-block;
  width: 35px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-list__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  width: 18px;
  height: 14px;
}

.social-list__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  width: 9px;
  height: 18px;
}

.social-list__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  width: 15px;
  height: 13px;
}

.social-list--footer {
  padding-top: 40px;
  justify-content: center;
}

.social-list__item--footer {
  border: 3px solid $header-color;
  background-color: #fefefe;
  opacity: 0.1;
  margin-right: 5px;
  margin-left: 5px;
}
